<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="card">

                    <div class="container text-center">
                        <img class="img" src="../../../assets/home.png" alt="">
                    </div>
                    <br><br>
                    <h3 class="text-left"><i>Welcome To....</i></h3>
                    <h1 class="text-center"><b>ONLINE EXAM</b></h1>
                    <h3 class="text-right"><i>Practice Makes Man Perfet....</i></h3>
                </mat-card>
            </div>
        </div>
    </div>
</div>